<form (ngSubmit)="emitTask()">
    <div class="input-group">
        <input 
            type="text" 
            name="description" 
            [(ngModel)]="task.description" 
            [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}"
            [ngClass]="{'is-valid': description.valid}"
            #description="ngModel"
            class="form-control"
            placeholder="tarea a realizar..." 
            required 
            minlength="3">
        <button type="submit" class="btn btn-success btn-sm" [disabled]="description.invalid">Agregar</button>
    </div>
    <div class="text-danger" *ngIf="description.invalid && (description.dirty || description.touched)">
        <small *ngIf="description.errors?.['required']">tarea requerida</small>
        <small *ngIf="description.errors?.['minlength']">la tarea debe tener al menos 3 caracteres</small>
    </div>
</form>